**Fin 585**  
**Diether**  
**Problem Set**  
**Intro to Python/Pandas**  

**Overview**

This problem set is designed to introduce you to using Python for empirical analysis. You can discuss this problem set and get coding help from other students in the class. But you must prepare your own answers. This assignment will be graded based on effort. Do your best, don’t worry if you can’t answer all the questions. We will discuss the problem set in class. You may find [Pandas Documentation](https://pandas.pydata.org/docs/) useful.

*Please submit you Jupyter notebook to Learning Suite before class.*

**Learning Objectives**

The goal of this homework is to give you practice with some of the core concepts I highlighted in the introduction:

+ Getting data into a dataframe and working with this core data structure. For example, hopefully you take advantage of a dataframe's built in functions (methods) to answer some of the questions.

+ Printing out data using various methods.

+ Selecting data and creating variables using if/then/else logic.

+ Your first use of the groupby/apply pandas programming framework.


**Data Analysis with Python/Pandas**

You can download the data for the problem set here: [Monthly Stock Return and Analyst Data](http://diether.org/prephd/02-mstk_analysts.csv). There is also a link to the data on the schedule page of *Learning Suite*. The data are monthly observations for all stocks listed in the United States during 2021-2024. The data contain the following variables:

|Variable | Description                                              |
|---------|----------------------------------------------------------|
|permno   | stock identifier                                         |
|caldt    | calendar date                                            |
|ticker   | another stock identifier                                 |
|ret      | monthly return                                           |
|prc      | stock price                                              |   
|me       | market value of equity (in millions)                     |
|analysts | number of analysts covering the stock                    |


**Tasks and Questions**

1. Print out the first 10 observations of the data.

2. Create a new column in the dataframe that contains the natural log of (1 + analysts).

3. During June of 2022, what is the price of Hormel's stock? Note, the ticker symbol for Hormel is HRL.

4. What is the average number of analysts covering Tesla during 2024? Note, the ticker symbol for Tesla is TSLA.

5. Create a new column in the dataframe that is True if the number of analysts is greater than 10 and False otherwise. 

6. Harder questions: questions 6-8 increase the difficulty. Do your best. Hint, use the `groupby` command. Compute the number of stocks in the dataframe by month.

7. Compute the aggregate market-cap of all stocks in the dataframe by date.

8. Create a new dataframe (call it sub) that contains all the observations of Google (ticker=GOOG) and Microsoft (MSFT).

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('http://diether.org/prephd/02-mstk_analysts.csv',parse_dates=['caldt'])

Print out the first 10 observations of the data:

In [7]:
df.head(10)

   permno      caldt ticker        prc       ret           me  analysts
0   10026 2021-01-29   JJSF  152.66000 -0.017442  2897.486800       2.0
1   10026 2021-02-26   JJSF  158.75999  0.039958  3013.264610       4.0
2   10026 2021-03-31   JJSF  157.03000 -0.007275  2988.909020       4.0
3   10026 2021-04-30   JJSF  164.61000  0.048271  3133.515960       4.0
4   10026 2021-05-28   JJSF  175.58000  0.066642  3342.340880       4.0
5   10026 2021-06-30   JJSF  174.41000 -0.003058  3324.429010       4.0
6   10026 2021-07-30   JJSF  164.38000 -0.057508  3133.740320       4.0
7   10026 2021-08-31   JJSF  163.75999 -0.003772  3121.920449       4.0
8   10026 2021-09-30   JJSF  152.82001 -0.062940  2916.417071       4.0
9   10026 2021-10-29   JJSF  147.55000 -0.034485  2815.844200       4.0

create a new column in the dataframe that contains the natural log of (1 + analysts):

In [8]:
df['ln(analysts + 1)'] = np.log(df['analysts'] + 1)

In [9]:
df.tail()

,permno,caldt,ticker,prc,ret,me,analysts,ln(analysts + 1)
198913,93436,2024-08-30,TSLA,214.11000,-0.077391,6.840044e+05,31.0,3.465736
198914,93436,2024-09-30,TSLA,261.63000,0.221942,8.390474e+05,33.0,3.526361
198915,93436,2024-10-31,TSLA,249.85001,-0.045025,8.020335e+05,35.0,3.583519
198916,93436,2024-11-29,TSLA,345.16000,0.381469,1.107984e+06,33.0,3.526361
198917,93436,2024-12-31,TSLA,403.84000,0.170008,1.296351e+06,34.0,3.555348

3. During June of 2022, what is the price of Hormel's stock? Note, the ticker symbol for Hormel is HRL.

In [13]:
df.query("ticker == 'HRL' and '2022-06-01' <= caldt <= '2022-06-30'")

,permno,caldt,ticker,prc,ret,me,analysts,ln(analysts + 1)
120671,32870,2022-06-30,HRL,47.36,-0.026916,25861.21216,11.0,2.484907

In [10]:
df[(df['ticker'] == 'HRL') & (df.caldt.dt.month == 6) & (df.caldt.dt.year == 2022)].prc

120671    47.36
Name: prc, dtype: float64

4. What is the average number of analysts covering Tesla during 2024? Note, the ticker symbol for Tesla is TSLA.

In [14]:
df[(df.ticker == 'TSLA') & (df.caldt.dt.year == 2024)].analysts.mean()

np.float64(33.666666666666664)

5. Create a new column in the dataframe that is True if the number of analysts is greater than 10 and False otherwise.

In [15]:
df['analysts > 10'] = df.analysts > 10

df.head(10)

,permno,caldt,ticker,prc,ret,me,analysts,ln(analysts + 1),analysts > 10
0,10026,2021-01-29,JJSF,152.66000,-0.017442,2897.486800,2.0,1.098612,False
1,10026,2021-02-26,JJSF,158.75999,0.039958,3013.264610,4.0,1.609438,False
2,10026,2021-03-31,JJSF,157.03000,-0.007275,2988.909020,4.0,1.609438,False
3,10026,2021-04-30,JJSF,164.61000,0.048271,3133.515960,4.0,1.609438,False
4,10026,2021-05-28,JJSF,175.58000,0.066642,3342.340880,4.0,1.609438,False
5,10026,2021-06-30,JJSF,174.41000,-0.003058,3324.429010,4.0,1.609438,False
6,10026,2021-07-30,JJSF,164.38000,-0.057508,3133.740320,4.0,1.609438,False
7,10026,2021-08-31,JJSF,163.75999,-0.003772,3121.920449,4.0,1.609438,False
8,10026,2021-09-30,JJSF,152.82001,-0.062940,2916.417071,4.0,1.609438,False
9,10026,2021-10-29,JJSF,147.55000,-0.034485,2815.844200,4.0,1.609438,False

Harder questions: questions 6-8 increase the difficulty. Do your best. Hint, use the `groupby` command. Compute the number of stocks in the dataframe by month.

In [27]:
df.groupby('caldt').permno.count()

caldt
2021-01-29    3769
2021-02-26    3823
2021-03-31    3919
2021-04-30    3999
2021-05-28    4048
2021-06-30    4096
2021-07-30    4163
2021-08-31    4198
2021-09-30    4239
2021-10-29    4281
2021-11-30    4325
2021-12-31    4367
2022-01-31    4397
2022-02-28    4415
2022-03-31    4424
2022-04-29    4434
2022-05-31    4431
2022-06-30    4425
2022-07-29    4415
2022-08-31    4421
2022-09-30    4420
2022-10-31    4397
2022-11-30    4385
2022-12-30    4295
2023-01-31    4277
2023-02-28    4252
2023-03-31    4217
2023-04-28    4203
2023-05-31    4184
2023-06-30    4170
2023-07-31    4151
2023-08-31    4128
2023-09-29    4114
2023-10-31    4090
2023-11-30    4064
2023-12-29    4023
2024-01-31    4014
2024-02-29    4002
2024-03-28    3978
2024-04-30    3966
2024-05-31    3944
2024-06-28    3928
2024-07-31    3905
2024-08-30    3882
2024-09-30    3860
2024-10-31    3845
2024-11-29    3830
2024-12-31    3805
Name: permno, dtype: int64

7. Compute the aggregate market-cap of all stocks in the dataframe by date.

market cap = Current Share Price * Total Number of Outstanding Shares

In [29]:
df.groupby('caldt').me.sum().round(2)

caldt
2021-01-29    39135071.12
2021-02-26    40282118.33
2021-03-31    41751054.05
2021-04-30    43952220.05
2021-05-28    44091288.83
2021-06-30    45401129.64
2021-07-30    46014851.91
2021-08-31    47322497.61
2021-09-30    45325576.78
2021-10-29    48329628.94
2021-11-30    47617100.51
2021-12-31    49051508.55
2022-01-31    45948435.06
2022-02-28    44873542.21
2022-03-31    46091839.04
2022-04-29    41680300.43
2022-05-31    41441169.13
2022-06-30    37844097.62
2022-07-29    41386336.73
2022-08-31    39780455.39
2022-09-30    36051942.07
2022-10-31    38806927.53
2022-11-30    40540768.75
2022-12-30    37964918.82
2023-01-31    40566928.04
2023-02-28    39508048.63
2023-03-31    40477734.36
2023-04-28    40807248.84
2023-05-31    41028133.54
2023-06-30    43768780.85
2023-07-31    45301566.97
2023-08-31    44257909.72
2023-09-29    42072858.12
2023-10-31    40774043.13
2023-11-30    44422661.19
2023-12-29    46650521.82
2024-01-31    47159608.27
2024-02-29    49625630.46
2024-03-28    51132732.84
2024-04-30    48927289.56
2024-05-31    51147305.60
2024-06-28    52719121.37
2024-07-31    53585202.94
2024-08-30    54616939.85
2024-09-30    55738610.83
2024-10-31    55358745.41
2024-11-29    59085477.34
2024-12-31    57379268.86
Name: me, dtype: float64

8. Create a new dataframe (call it sub) that contains all the observations of Google (ticker=GOOG) and Microsoft (MSFT).

In [98]:
sub = df[(df.ticker == 'GOOG') | (df.ticker == 'MSFT')]

sub.head(20)

,permno,caldt,ticker,prc,ret,me,analysts,ln(analysts + 1),analysts > 10
307,10107,2021-01-29,MSFT,231.96001,0.042892,1.749492e+06,32.0,3.496508,True
308,10107,2021-02-26,MSFT,232.38000,0.004225,1.752660e+06,33.0,3.526361,True
309,10107,2021-03-31,MSFT,235.77000,0.014588,1.776291e+06,32.0,3.496508,True
310,10107,2021-04-30,MSFT,252.17999,0.069602,1.899313e+06,32.0,3.496508,True
311,10107,2021-05-28,MSFT,249.67999,-0.007693,1.880484e+06,29.0,3.401197,True
312,10107,2021-06-30,MSFT,270.89999,0.084989,2.036897e+06,30.0,3.433987,True
313,10107,2021-07-30,MSFT,284.91000,0.051717,2.141068e+06,31.0,3.465736,True
314,10107,2021-08-31,MSFT,301.88000,0.061528,2.268595e+06,34.0,3.555348,True
315,10107,2021-09-30,MSFT,281.92001,-0.066119,2.116626e+06,36.0,3.610918,True
316,10107,2021-10-29,MSFT,331.62000,0.176291,2.489796e+06,36.0,3.610918,True
317,10107,2021-11-30,MSFT,330.59000,-0.001236,2.482063e+06,24.0,3.218876,True
318,10107,2021-12-31,MSFT,336.32001,0.017333,2.525084e+06,26.0,3.295837,True
319,10107,2022-01-31,MSFT,310.98001,-0.075345,2.331375e+06,30.0,3.433987,True
320,10107,2022-02-28,MSFT,298.79001,-0.037205,2.239989e+06,25.0,3.258097,True
321,10107,2022-03-31,MSFT,308.31000,0.031862,2.307084e+06,26.0,3.295837,True
322,10107,2022-04-29,MSFT,277.51999,-0.099867,2.075581e+06,25.0,3.258097,True
323,10107,2022-05-31,MSFT,271.87000,-0.018125,2.033325e+06,27.0,3.332205,True
324,10107,2022-06-30,MSFT,256.82999,-0.055321,1.916979e+06,25.0,3.258097,True
325,10107,2022-07-29,MSFT,280.73999,0.093097,2.093729e+06,25.0,3.258097,True
326,10107,2022-08-31,MSFT,261.47000,-0.066432,1.950015e+06,39.0,3.688879,True