**Fin 585**  '
**Diether**  
**Testing the CAPM**  

**Quick Test of the CAPM Using a Portfolio Formed on Past Winners**  

+ Let's go back to the Momentum portfolios we formed previously.

+ Let's run the following regression using Python/Statsmodels $\rightarrow$ 
$$
r_{4t} - r_{ft} = \alpha_4 + \beta_{4M}( r_{Mt} - r_{ft}) + \epsilon_{4t}
$$

  - Left hand side portfolio is `p4` (past winners, $t-12,t-2$).

  - $r_{M}$ is a proxy for the market portfolio $\rightarrow$ value-weight portfolio of all stocks.

  - $r_f$ is a proxy for the riskfree rate $\rightarrow$ 1-month T-bill return.

In [1]:
import pandas as pd
import numpy as np
from finance_byu.summarize import summary
import statsmodels.formula.api as smf

In [2]:
port = pd.read_csv('https://diether.org/prephd/10-port_mom_ew.csv',parse_dates=['caldt'])
port

          caldt        p0        p1        p2        p3        p4
0    1927-01-31 -2.708399  4.290744  0.739794  1.276720  0.475350
1    1927-02-28  6.142964  8.298619  4.973542  4.677757  5.513797
2    1927-03-31 -3.983701 -2.796318 -1.576889 -0.254078  0.292605
3    1927-04-30 -0.120046 -1.157099 -0.031457 -0.344376  3.240598
4    1927-05-31  3.676707  6.496044  7.446535  7.156606  8.589415
...         ...       ...       ...       ...       ...       ...
1168 2024-05-31  4.981509  3.268487  2.986964  4.562899  3.540309
1169 2024-06-28 -3.642699 -2.024197 -0.957346 -0.831484 -2.696946
1170 2024-07-31  8.830151  8.246587  7.946074  9.090117  8.155037
1171 2024-08-30 -8.655050 -3.146008 -0.719188  0.038288  1.023405
1172 2024-09-30  2.184210  0.231762  0.796580  1.341782  0.885248

[1173 rows x 6 columns]

In [3]:
fac = pd.read_csv('https://diether.org/prephd/10-factor.csv',parse_dates=['caldt'])
fac

          caldt  exmkt   smb   hml   umd    rf
0    1927-01-31  -0.06 -0.37  4.54  0.36  0.25
1    1927-02-28   4.18  0.04  2.94 -2.14  0.26
2    1927-03-31   0.13 -1.65 -2.61  3.61  0.30
3    1927-04-30   0.46  0.30  0.81  4.30  0.25
4    1927-05-31   5.44  1.53  4.73  3.00  0.30
...         ...    ...   ...   ...   ...   ...
1168 2024-05-31   4.34  0.78 -1.67 -0.02  0.44
1169 2024-06-28   2.77 -3.06 -3.31  0.90  0.41
1170 2024-07-31   1.24  6.80  5.74 -2.42  0.45
1171 2024-08-30   1.61 -3.55 -1.13  4.79  0.48
1172 2024-09-30   1.74 -0.17 -2.59 -0.60  0.40

[1173 rows x 6 columns]

In [4]:
port = port.merge(fac,on='caldt',how='inner').set_index('caldt')
port.round(3)

               p0     p1     p2     p3     p4  exmkt   smb   hml   umd    rf
caldt
1927-01-31 -2.708  4.291  0.740  1.277  0.475  -0.06 -0.37  4.54  0.36  0.25
1927-02-28  6.143  8.299  4.974  4.678  5.514   4.18  0.04  2.94 -2.14  0.26
1927-03-31 -3.984 -2.796 -1.577 -0.254  0.293   0.13 -1.65 -2.61  3.61  0.30
1927-04-30 -0.120 -1.157 -0.031 -0.344  3.241   0.46  0.30  0.81  4.30  0.25
1927-05-31  3.677  6.496  7.447  7.157  8.589   5.44  1.53  4.73  3.00  0.30
...           ...    ...    ...    ...    ...    ...   ...   ...   ...   ...
2024-05-31  4.982  3.268  2.987  4.563  3.540   4.34  0.78 -1.67 -0.02  0.44
2024-06-28 -3.643 -2.024 -0.957 -0.831 -2.697   2.77 -3.06 -3.31  0.90  0.41
2024-07-31  8.830  8.247  7.946  9.090  8.155   1.24  6.80  5.74 -2.42  0.45
2024-08-30 -8.655 -3.146 -0.719  0.038  1.023   1.61 -3.55 -1.13  4.79  0.48
2024-09-30  2.184  0.232  0.797  1.342  0.885   1.74 -0.17 -2.59 -0.60  0.40

[1173 rows x 10 columns]

In [5]:
summary(port).loc[['mean','std','tstat']].round(3)

          p0     p1     p2     p3     p4  exmkt    smb    hml    umd      rf
mean   0.378  0.863  1.097  1.269  1.573  0.683  0.182  0.341  0.628   0.269
std    8.971  7.071  6.234  5.806  6.604  5.341  3.182  3.573  4.691   0.251
tstat  1.442  4.180  6.027  7.486  8.156  4.380  1.960  3.273  4.581  36.728

In [6]:
port['exp4'] = port['p4'] - port['rf'] 

summary(port).loc[['mean','std','tstat']].round(3)

,p0,p1,p2,p3,p4,exmkt,smb,hml,umd,rf,exp4
mean,0.378,0.863,1.097,1.269,1.573,0.683,0.182,0.341,0.628,0.269,1.304
std,8.971,7.071,6.234,5.806,6.604,5.341,3.182,3.573,4.691,0.251,6.610
tstat,1.442,4.180,6.027,7.486,8.156,4.380,1.960,3.273,4.581,36.728,6.755

In [7]:
reg = smf.ols('exp4 ~ exmkt',data=port).fit()
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   exp4   R-squared:                       0.772
Model:                            OLS   Adj. R-squared:                  0.771
Method:                 Least Squares   F-statistic:                     3958.
Date:                Tue, 10 Feb 2026   Prob (F-statistic):               0.00
Time:                        15:13:20   Log-Likelihood:                -3013.0
No. Observations:                1173   AIC:                             6030.
Df Residuals:                    1171   BIC:                             6040.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5611      0.093      6.032      0.000       0.379       0.744
exmkt          1.0872      0.017     62.909      0.000       1.053       1.121
==============================================================================
Omnibus:                      212.989   Durbin-Watson:                   1.845
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3004.067
Skew:                           0.379   Prob(JB):                         0.00
Kurtosis:                      10.803   Cond. No.                         5.43
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

<br>

**Interpretation**

+ Based on the regression results what can you infer?

+ Can you reject the CAPM?

our intercept is not equal to zero so alpha must be > 0. P value is really small, 
T value is 6, which means we can reliably reject the hypothesis that the True
alpha is zero.